<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DumbWays | Home</title>
    <link rel="shortcut icon" href="public/img/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  </head>
  <body class="">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-lg">
        <a class="navbar-brand" href="/">
          <img src="public/img/logo.png" alt="brand" width="40" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-medium" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="addproject">Add Project</a>
            </li>
          </ul>
          {{if .DataSession.IsLogin}}
          <a href="" class="fw-medium me-3 nav-btn">Hello, {{.DataSession.Name}}</a>
          <form action="/logout" method="post" id="myform"></form>
          <button onclick="document.getElementById('myform').submit()" class="btn btn-dark fw-medium me-3">Logout</button>
          {{else}}
          <a href="/form-register" class="fw-medium me-3 nav-btn">Register</a>
          <a href="/form-login" class="fw-medium me-3 nav-btn">Login</a>
          {{end}}
          <a href="contact" class="btn btn-dark fw-medium">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->

    {{if .FlashMessage}}  {{if .FlashStatus}}
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <strong>{{.FlashMessage}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{else}}
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <strong>{{.FlashMessage}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{end}}  {{end}}

    <!-- CONTENT  -->
    <div class="home my-5">
      <div class="container-lg bg-light p-5 shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="content">
              <h1>Hi Welcome to my hut</h1>
              <p class="pt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptatum quia fugiat maxime laborum sit culpa possimus recusandae dignissimos labore laboriosam suscipit, quam cupiditate molestiae a maiores tenetur
                architecto quibusdam dicta accusantium quisquam similique! Iure eligendi voluptatem, molestiae adipisci nihil accusamus veniam perspiciatis rem totam ad aperiam. Totam autem aut molestias non vitae rerum, maiores beatae sunt
                odio. Nobis porro, dignissimos sunt magni dolor atque ducimus doloribus sequi commodi. Nemo vero iste consequatur minima eaque nisi, dicta ab quidem architecto?
              </p>
              <div class="d-flex gap-3 align-items-center w-100">
                <a href="contact.html" class="btn btn-dark fw-medium rounded-pill px-4">Contact</a>
                <p>Download CV <i class="fa-solid fa-download"></i></p>
              </div>

              <div class="icon d-flex pt-4 pb-3 w-100">
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card shadow bg-body-tertiary rounded">
                <img src="public/img/profil.jpg" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                  <h5 class="card-title">Power Rangers</h5>
                  <p class="card-text">PT. Pahlawan Indonesia</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT  -->

    <!-- PROJECT  -->
    <div class="project my-5">
      <div class="container-lg">
        <h1 class="text-center my-5" id="my-project">MY PROJECT</h1>
        <div class="row p-2">
          {{range $index, $data := .Blogs}}
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="/uploads/{{$data.Image}}" class="card-img-top p-2 rounded-5 bg-body-tertiary" style="height: 14rem;" alt="project" />
              <div class="card-body shadow bg-body-tertiary rounded">
                <a href="detailproject/{{$index}}" target="_blank"><h5 class="card-title">{{$data.Title}} | {{$data.Author}}</h5></a>
                <h6 class="card-subtitle mb-2 text-body-secondary">Durasi : {{$data.Duration}}</h6>
                <p class="card-text">{{$data.Description}}</p>
                <div class="card-icon mb-4 d-flex gap-2">
                  <div class="js">
                    {{if $data.JavaScript}}
                    <i class="fa-brands fa-node-js fa-2xl"></i>
                    {{end}}
                  </div>
                  <div class="html">
                    {{if $data.Html}}
                    <i class="fa-brands fa-html5 fa-2xl"></i>
                    {{end}}
                  </div>
                  <div class="php">
                    {{if $data.Php}}
                    <i class="fa-brands fa-php fa-2xl"></i>
                    {{end}}
                  </div>
                  <div class="react">
                    {{if $data.React}}
                    <i class="fa-brands fa-react fa-2xl"></i>
                    {{end}}
                  </div>
                </div>
                {{if $.DataSession.IsLogin}}
                <div class="d-flex justify-content-evenly">
                  <form action="updateproject/{{$data.Id}}" method="get">
                    <input type="submit" value="Edit" class="btn btn-dark" style="width: 150px;">
                  </form>
                  <form action="/deleteblog/{{$data.Id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-dark" style="width: 140px;">
                  </form>
                </div>
                {{end}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <!-- PROJECT  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
